.nav-vertical{
    min-height: 40vh !important;
}
.fijo{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (min-width:1024px){
    .nav-vertical{
        min-height: 100% !important;
    }
}
.imgmodal{
    width: 100%;
    height: auto;
   border-radius: 100px;
}
.plotpelicula{
    font-family: fantasy;
    font-weight: 200;
}